header {
    display: flex;
    justify-content: space-around;
    padding: 0.6em 0.8em;
    background-color: #245576;
    color: #2f2f2f;

}

span {
    padding: 0em 2em 0em 2em;
    cursor: pointer;
    font-weight: bolder;
    background: -webkit-linear-gradient(#92C9AA, #67BCC2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spanMenu {
    padding-top: 6px;
    border-radius: 0.4em;
    background-color: #0D243F;
    height: 40px; 
}

/*
span:hover {
    background: linear-gradient(to right, #92C9AA, #67BCC2);
    color: #fff;
}

*/