.searchInput {
    width: 900px;
    padding-top: 2em;
    padding-bottom: 1.5em;
    margin: auto;
    border-radius: 2em;
}

.inputSearch {
    border-radius: 2em;
    height: 50px;
    padding-left: 2em;
}

.btn-search {
    background: linear-gradient(to right, #92C9AA, #67BCC2);
    color: #fff;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    height: 50px;
}

.divSearch {
    height: 270px;
    background-image: url(./background.jpg);
}

h2 {
    color: #fff;
    font-weight: bolder;
    padding-left: 2em;
    padding-top: 1em;
}

h3 {
    color: #fff;
    padding-left: 2.3em;
}