.movie {
    display: flex;
    flex-direction: column;
    padding: 0.8em;
}

.moviePoster {
    width: 100%;
    border-radius: 1em;
}

.star {
    width: 10%;
    padding-right: 0.1em;
}

.movieTitle {
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.vote {
    margin-left: 0.5em;
}